.editor-wrapper {
    border: 1.3px solid rgba(204, 204, 204, 0.616);
    width: 30rem;
    height: auto !important;
    min-height: 15rem;
    border-radius: 3px;
    padding: .2rem;
}

.editor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-red {
    border: 2px solid red !important;
}